<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Troque sua senha</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <div class="container">
        <h1>Troque sua senha</h1>
        <p>Caso você tenha pedido uma troca de senha, basta clicar no botão abaixo.:</p>
        <a class="btn" id="confirm-email-btn" href="{{ link }}">Confirmar Email</a>
        <span>Descarte essa mensagem caso não tenha pedido</span>
    </div>
    <script src="index.js"></script>
</body>
</html>



